@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --preto: #000;
    --amarelo: #f1bb06;
    --cinza: #8b8080;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

main {
    background-color: #000;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #000; /* preto - cor do CEC */
  color: #FFD700;   /* amarelo dourado */
  font-weight: bold;
}

/* Lista de produtos */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Card de produto */
.product-card {
  border: 1px solid #140101;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background: #4e4e4e;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  margin-bottom: 10px;
  font-family: "SUSE Mono";
  color: #ffef10;
}

.product-card p {
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
}

.product-card button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn {
  background: #f5dd03;
  color: rgb(7, 7, 7);
}

.remove-btn {
  background: #000000;
  color: rgb(253, 253, 253);
}
